main {
    background-color: $primary;
    color: $tertiary;
    padding: 1em;
}

aside {
    background-color: $tertiary;
    color: $secondary;
    padding: 1em;
}

footer {
    background-color: $secondary;
    color: $quaternary;
    padding: 1em;
}
